<!-- <div class="mx-auto">
  <h3 class="text-center">CONTACT US</h3>
</div> -->
<!-- <div class="row no-gutters bg-light py-2">
  <div *ngIf="!smallScreen" class="col-7 need-help pt-3">
    <span class="">NEED HELP? CONTACT OUR SUPPORT TEAM NOW.</span>
  </div>
  <div *ngIf="smallScreen" class="col-7"></div>
  <div class="col-1"></div>
  <div class="col-4 pt-2">
    <button class="btn my-2 my-sm-0 btn-footer" (click)="openDialog()">Email Us</button>
  </div>
</div> -->

<!-- <div class="footer-bg" style="position: relative;"> -->

<!-- <div class="row text-pad mr-0" *ngIf=smallScreen>
        <div class="footer-item-8"></div>
        <div class="footer-item">Your Logo Here</div>
        <div class="footer-item-3"></div>
        <div class="footer-item">
          <div>SOLUTION</div>
          <span class="sm-txt">rent your parking spot</span>
          <span class="lines"></span>
        </div>
        <div class="footer-item-2"></div>
        <div class="footer-item">
          <div>CONNECT</div>
          <a href="#">FAQs</a>
          <span class="lines"></span>
        </div>
        <div class="footer-item-3"></div>
        <div class="footer-item">
          <div>ABOUT US</div>
          <span class="lines"></span>
        </div>
        <div class="footer-item-2"></div>
        <div class="footer-item">
          <span>OUR TEAM</span>
        </div>
      </div> -->
<!-- <div class="text-pad">
    <div>
      <table class="table-first">
        <tr>
          <td>
            <img src="assets/images/edyoos-logo.svg" class="img-logo footer-logo" />
          </td>
        </tr>
      </table>
      <table class="table-second">
        <tr class="border-sides">
          <td>SOLUTION</td>
        </tr>
        <tr>
          <td>rent your parking spot</td>
        </tr>
      </table>
      <table class="table-middle">
        <tr class="border-right-side">
          <td>CONNECT</td>
        </tr>
        <tr>
          <td><a style="cursor: pointer;" (click)="router.navigateByUrl('/faq')">FAQs</a></td>
        </tr>
      </table>
      <table class="table-middle">
        <tr class="border-right-side">
          <td>ABOUT US</td>
        </tr>
      </table>
      <table class="table-last">
        <tr>
          <td>OUR TEAM</td>
        </tr>
      </table>
    </div>
  </div> -->
<!-- </div> -->

<!-- <div class="copyright" style="position: relative;width: 100%;">
  Copyright © 2020 - Edyoos. All rights reserved. Powered by Edyoos
</div> -->

<div class="row mx-0">
  <div class="col-xl-10 col-12 mx-auto">
    <!-- <div class="float-right">
      <svg preserveAspectRatio="xMidYMid meet" data-bbox="20 20 160 160" xmlns="http://www.w3.org/2000/svg"
        viewBox="20 20 160 160" height="50px" width="50px" data-type="color" role="img">
        <g fill-rule="evenodd">
          <path fill-rule="0e092b" fill="#FFFFFF"
            d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z" data-color="1">
          </path>
          <path fill="#0e092b" d="M66.066 116L62 111.64 100.151 74 138 111.668 133.953 116l-33.825-32.3L66.066 116z"
            data-color="2"></path>
          <path fill-rule="0e092b" fill="#0e092b"
            d="M100 24c-41.974 0-76 34.026-76 76s34.026 76 76 76 76-34.026 76-76-34.026-76-76-76zm0-4c44.183 0 80 35.817 80 80s-35.817 80-80 80-80-35.817-80-80 35.817-80 80-80z"
            data-color="3"></path>
        </g>
      </svg>
    </div> -->
    <div class="container mx-auto py-3 mt-5">
      <div class="section fter-section d-flex">
        <div class="logo fter-logo">
          <img src="assets/images/logo-footer.png" class="img-logo footer-logo" />
        </div>
        <div class="text w-100 pl-md-3 fter-text">
          <nav class="nav row mx-0">
            <li class="nav-item">
              <a [routerLink]="['/landing/home']" style="font-size: 15px;"
                class=" footer-link py-1 ml-lg-3 mr-lg-2 ml-1"> HOME </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/pages/partnerships']" style="font-size: 15px;"
                class=" footer-link py-1 ml-lg-3 mr-lg-2 ml-1"> BUSINESS SOLUTIONS </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/pages/refund']" style="font-size: 15px;"
                class=" footer-link py-1 ml-lg-3 mr-lg-2 ml-1"> REFUNDS & CANCELLATIONS </a>
            </li>
            <!-- <li class="nav-item">
              <a [routerLink]="['/landing/about']" style="font-size: 18px;" class=" footer-link py-1  mr-lg-5 ml-1"
                routerLinkActive="text-active"> About
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/landing/why-Edyoos']" style="font-size: 18px;" class=" footer-link py-1  mr-lg-5 ml-1"
                routerLinkActive="text-active"> Why
                Edyoos</a> </li>
            <li class="nav-item">
              <a [routerLink]="['/faq']" style="font-size: 18px;" class="footer-link  py-1  mr-lg-5 ml-1"
                routerLinkActive="text-active">
                FAQs</a> </li> -->
          </nav>
          <div class="row mx-0 align-items-center">
            <div class="col-auto pl-3">
              <span>Call: <a class="text-decoration-underline" href="tel:844-633-9667"> 844-633-9667</a></span> <br>
              <span>Email: <a class="text-decoration-underline"
                  href="mailto:support@edyoos.com">support@edyoos.com</a></span>
            </div>
            <div class="col-md-auto col-12">
              <div class="mobile">
                <div class="icons">
                  <a target="fbWindow" href="https://www.facebook.com/edyoosparking/">
                    <img src="assets/images/facebook-new.png" style="width: 35px;" class="" /></a>
                  <a target="instaWindow" href="https://www.instagram.com/accounts/login/?next=/edyoos/"> <img
                      src="assets/images/instagram-new.png" style="max-width: 50px;" class="" />
                  </a>
                  <a target="ytWindow" href="https://www.youtube.com/channel/UCoztuFfw-q2SqrVwPeWOiDQ">
                    <img src="assets/images/youtube-new.png" style="max-width: 50px;" class="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-auto col-12">
              <div class="d-flex align-items-center">
                <!-- <div class="px-0"><img src="/assets/images/app-store-badge.svg" style="width: 150px;
                  " alt="Get it on Itunes" class="img img-fluid"></div>
                <div class="px-0"><img style="width: 195px;
                  
                  " src="/assets/images/GooglePlay.png" alt="Play Store" class="img img-fluid">
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters align-items-center p-0 m-0">
        <p style="color: #7F808A;" class="col">Copyright © 2020 - Edyoos. All rights reserved. Powered by Edyoos</p>
        <p style="color: #7F808A;cursor: pointer;" class="text-right float-right col-auto"><a (click)="openCookieNewWindow()">Security and Cookie Policy</a></p>
      </div>
    </div>
  </div>
</div>
<div (click)="scrolltoTop()" class="up-arrow-icon" *ngIf="showUpArrow">
  <svg style="width: 40px;height: 20px;" preserveAspectRatio="none" data-bbox="19.999 58 160.001 84"
    viewBox="19.999 58 160.001 84" height="41px" width="21px" xmlns="http://www.w3.org/2000/svg" data-type="shape"
    role="img">
    <g>
      <path fill="#4919db"
        d="M172.5 142a7.485 7.485 0 0 1-5.185-2.073L100 75.808l-67.315 64.12c-2.998 2.846-7.74 2.744-10.606-.234a7.454 7.454 0 0 1 .235-10.565l72.5-69.057a7.524 7.524 0 0 1 10.371 0l72.5 69.057a7.455 7.455 0 0 1 .235 10.565A7.503 7.503 0 0 1 172.5 142z">
      </path>
    </g>
  </svg>
</div>
<!-- <p class="copyright mb-0 py-2" style="position: relative;width: 100%;">
  Copyright © 2020 - Edyoos. All rights reserved. Powered by Edyoos
</p> -->