<!-- <div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="azure" data-image="../../../assets/img/full-screen-image-1.jpg">

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

                            <div class="card">
                                <div class="header text-center">Reset Password</div>
                                <div class="content">

                                    <div formGroupName="passwordGroup">
                                        <div class="form-group"
                                            [ngClass]="{'has-error': submitted && formErrors.password}">
                                            <label for="password">Password<span class="star">*</span></label>

                                            <input type="password" placeholder="Password"
                                                validateEqual="confirmPassword" formControlName="password" id="password"
                                                class="form-control form-rounded">
                                            <small *ngIf="submitted && formErrors.password" class="text-danger">
                                                {{formErrors.password}}
                                            </small>
                                        </div>

                                        <div class="form-group" [ngClass]="{'has-error': submitted &&  (formErrors.passwordConfirmation
                                    || formErrors.passwordGroup)}">
                                            <label for="passwordConfirmation">Password
                                                Confirmation<span class="star">*</span></label>

                                            <input type="password" validateEqual="password"
                                                placeholder="Password Confirmation" id="passwordConfirmation"
                                                formControlName="passwordConfirmation"
                                                class="form-control form-rounded">
                                            <small
                                                *ngIf="submitted && (formErrors.passwordConfirmation || formErrors.passwordGroup)"
                                                class="text-danger">
                                                {{formErrors.passwordConfirmation ? formErrors.passwordConfirmation
                                                        : formErrors.passwordGroup}}
                                            </small>
                                        </div>

                                    </div>

                                </div>
                                <div class="footer text-center">
                                    <button type="submit" [disabled]="submitBtnDisable"
                                        class="btn btn-fill btn-danger btn-wd">Submit</button>

                                    <div class="text-danger text-left">
                                        <ul *ngFor="let error of errors">
                                            <li>{{error.message}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->



<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Reset Password
                </div>
                <div class="card-body">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

                        <div formGroupName="passwordGroup">

                            <mat-form-field style="width:100%">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Password" (blur)="logValidationErrors()" required
                                validateEqual="confirmPassword" formControlName="password" id="password">
                                <mat-error>
                                    {{formErrors.password}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field style="width:100%">
                                <mat-label>Confirmation Password</mat-label>
                                <input matInput type="password" validateEqual="password" (blur)="logValidationErrors()"
                                placeholder="Confirmation Password" id="passwordConfirmation" required
                                formControlName="passwordConfirmation">
                                <mat-error>
                                    {{formErrors.passwordConfirmation ? formErrors.passwordConfirmation
                                        : formErrors.passwordGroup}}
                                </mat-error>
                             
                            </mat-form-field>

                        </div>

                        <div class="text-center">
                            <button type="submit" [disabled]="submitBtnDisable || resetPasswordForm.invalid"
                                class="btn btn-fill btn-danger">
                                <span class="spinner-border spinner-border-sm" *ngIf="submitBtnDisable" role="status" aria-hidden="true"></span>
                               {{submitBtnDisable?'Loading...':'Reset'}} 
                                
                            </button>
                            <div class="text-danger mt-2">
                                {{httpError}}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>