// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$parking-lot-primary: mat-palette($mat-green);
$parking-lot-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$parking-lot-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$parking-lot-theme: mat-light-theme(
  $parking-lot-primary,
  $parking-lot-accent,
  $parking-lot-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($parking-lot-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~placeholder-loading/src/scss/placeholder-loading";
@import "~font-awesome/css/font-awesome.css";
@import "~ng-wizard/themes/ng_wizard.min.css";
@import "~ng-wizard/themes/ng_wizard_theme_arrows.min.css";
@import "~ng-wizard/themes/ng_wizard_theme_circles.min.css";
@import "~ng-wizard/themes/ng_wizard_theme_dots.min.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Quicksand&display=swap');
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/////////////////////////////////////////////////////////////////////

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
///////////////////////////Logo
.img-logo {
  width: 2.5rem;
  margin-right: 6px;
  margin-left: 6px;
  background: #f5f5f5;
}
////////////////shopping cart icon
.shopping-icon {
  width: 2.5rem;
  border-radius: 0.5rem;
}
////////////////Datepicker
@font-face {
  font-family: 'Lato';
  src: url('../src/assets/fonts/Lato-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato-bold';
  src: url('../src/assets/fonts/Lato-Bold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato-light';
  src: url('../src/assets/fonts/Lato-Light.ttf');
  font-weight: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
}
button:focus {
  outline: 0px;
}
//stepper

.ng-wizard-theme-arrow {
  border: none !important;
}
.ng-wizard-theme-arrows > ul.step-anchor > li.active > a {
  border-color: #3489eb !important;
  background: #3489eb !important ;
  color: #fff !important;
  cursor: default !important;
}
.ng-wizard-theme-arrows > ul.step-anchor > li.active > a:after {
  border-left: 30px solid #3489eb !important;
  cursor: default !important;
}
.ng-wizard-theme-arrows > ul.step-anchor > li.done > a {
  border-color: #94bff0 !important;
  background: #94bff0 !important ;
  color: #fff !important;
  cursor: default !important;
}
.ng-wizard-theme-arrows > ul.step-anchor > li.done > a:after {
  border-left: 30px solid #94bff0 !important;
  cursor: default !important;
}
.ng-wizard-theme-arrows > ul.step-anchor > li > a {
  cursor: default !important;
}

root {
  --clrgrey: #21303c;
  --clrgreen: #00b357;
  --clrblue: #5480f0;
  --clrsaffron: #ff6868;
  --clryellow: #ffc90e;
  --clrcyan: #6fe4fc;
}

body {
  color: var(--clrgrey);
  
}
ul {
  margin: 0;
  padding: 0;
}
li, ul {
  list-style-type: none;
}
p {
  margin: 0;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
label {
  margin: 0;
}
.bfont {
  font-family: Lato-bold;
}
.lfont{
  font-family: Lato-light;
}
.fcy {
  color: var(--clryellow);
}
.fcblue {
  color: #5480f0;
}
.fcsaffron {
  color: #ff6868;
}
.fcgreen {
  color: var(--clrgreen);
}
.fcwhite {
  color: var(--white);
}
.fclblue {
  color: #008b93;
}
.fcbrown {
  color: #ce7d26;
}
.fcorange {
color: #eaaf52;
}
.fcl1 {
  color: #6f6d76;
}
.fcl2 {
  color: #3c3b3f;
}
.fcl3 {
  color: #696b71;
}
.fcl4 {
  color: #828990;
}
.fcl5 {
  color: #6390c3;
}
.fcl6 {
  color: #3357b3;
}
.fcl7 {
  color: #626262;
}
.fcl8 {
color: #8a8c99;
}
.fcl9 {
color: #606570;
}

.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}
.f24 {
  font-size: 24px;
}
.f26 {
  font-size: 26px;
}
.f30 {
  font-size: 30px;
}
.fl100 {
  float: left;
  width: 100%;
}
.fl50 {
  float: left;
  width: 50%;
}

.home-background {
  background: url(../src/assets/images/banner.jpg) no-repeat;
  background-size: cover;
  min-height: 540px;
}
.home-hdr {
  color: #fff;
  padding: 60px 0 30px;
}
.search-engine-menu li {
  flex: 1 0 0;
}

.search-engine-menu {
  display: flex;
}
  .search-engine-menu button {
      width: 100%;
      background: #3e4b59;
      color: #fff;
      padding: 20px 0;
      border: 0;
      font-family: Lato-bold;
  }
.home-search-engine {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.search-engine-menu li:not(:last-child) {
  border-right: 1px solid #fff;
}
.search-container {
  padding: 20px;
}



// .btn-search {
//   height: 44px;
//   width: 100%;
//   border: 0;
//   background: #69aaf4;
//   color: #fff;
//   border-radius: 2px;
// }
.search-engine-menu .btn-switchSelected {
  background: #fff;
  color: #3c3b3f;
}
.abt-container-content h2, .howwe-container-content h2, .whyus-container h2 {
  text-align: center;
  font-size: 24px;
  color: #1b1e22;
  margin: 0 0 35px;
  position: relative;
}
  .abt-container-content h2::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background: #4d85c5;
      bottom: -6px;
      left: calc(50% - 15px);
  }
.abt-container-content p {
  color: #4e5256;
  line-height: 30px;
}

.howwe-container-content ul {
  display: block;
  width: 100%;
  text-align: center;
}

.howwe-container-content li {
  display: inline-block;
  width: calc(33% - 60px);
  background: #eff4ff;
  padding: 35px 0;
  border-radius: 10px;
  margin: 0 30px;
}

.howwe-container-content p {
  color: #1b1e22;
  font-size: 18px;
  min-height: 73px;
}
.whyus-container-content {
  background: url(../src/assets/images/fixed-bg.jpg);
  background-attachment: scroll;
  background-attachment: fixed;
  color: #ffffff;
}

  .whyus-container-content li {
      flex: 1 0 0;
      margin: 0 18px;
      background: rgba(14,15,17,0.2);
      padding: 53px 30px 30px;
  }

  .whyus-container-content ul {
      display: flex;
  }

  .whyus-container-content label {
      font-size: 14px;
      font-family: Lato-bold;
  }

  .whyus-container-content h4 {
      font-size: 24px;
      position: relative;
      margin: 0 0 16px;
  }

      .whyus-container-content h4::after {
          position: absolute;
          content: "";
          background: #ead03f;
          width: 25px;
          height: 2px;
          left: 0;
          bottom: -3px;
      }

.needhelp-footer {
  background: #1e5798;
  margin-top: 5px;
  color: #fff;
  padding: 35px 0 20px;
  position: relative;
}

.footer-content {
  background: #1e5798;
  color: #aad2ff;
}
.needhelp-footer-btn button {
  background: transparent;
  border: 1px solid #cce4ff;
  color: #cce4ff;
  font-size: 18px;
  padding: 15px;
  min-width: 200px;
  border-radius: 3px;
  margin: 15px 0 0;
}

.needhelp-footer:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 70%;
  background: #3568a3;
  margin: 0 auto;
  bottom: 0;
  left: 15%;
}
.needhelp-footer:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  background: #3568a3;
  bottom: -4px;
  left: 20%;
}

.footer-content-menu {
  padding: 50px 0 35px;
  display: block;
  text-align: center;
  position: relative;
}
  .footer-content-menu:after {
      content: "";
      position: absolute;
      width: 20%;
      height: 1px;
      background: #4b79ad;
      bottom: 12px;
      left: 41%;
  }
  .footer-content-menu li {
      display: inline-block;
      padding: 0 20px;
      position: relative;
  }

      .footer-content-menu li:not(:last-child)::after {
          background: #aad2ff;
          content: "";
          position: absolute;
          width: 1px;
          height: 14px;
          right: -1px;
          top: 5px;
      }
.loader-part {
  display: flex;
  flex-wrap: wrap;
}
.loader-animation {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  height: 200px;
}
.rec {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.spinner2 {
  animation: rota1 1s infinite;
  border-bottom-color: #69aaf4 !important;
}

.rounded-spinner {
  border-radius: 50%;
}
.loader-animation img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: #c4d9f2;
  border-radius: 10px;
  padding: 12px;
}
.rec {
  width: 100px;
  height: 100px;
  border: 4px solid #c4d9f2;
  border-bottom-color: rgb(204, 204, 204);
  box-sizing: border-box;
}
@keyframes rota1 {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.btn-share-fav {
  border: 0;
  color: #fff;
  font-size: 12px;
  background: #6b93f9;
  border-radius: 3px;
  padding: 3px 10px;
  margin: 0 10px 0 0;
}
.btn-share{
  border: 0;
  color: #fff;
  font-size: 12px;
  background: #47da7e;
  border-radius: 3px;
  padding: 3px 10px;
  margin: 0 10px 0 0;
}
.btn-share-fav i,.btn-share i  {
  margin-right: 7px;
}
.det-page-booking-grid {
  box-shadow: 0px 5px 8px 2px rgb(226 230 239 / 0.8);
  border: 1px solid #e2e6ef;
  padding: 15px 15px;
border-radius: 4px;
}

.det-page-grid-hdr {
  position: relative;
  margin: 0 0 35px;
}

.det-page-grid-hdr:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: #6b93f9;
  left: 0;
  bottom: -5px;
}
.det-cal-bg {
  border: 1px solid #d7dce6;
  border-radius: 3px;
  height: 42px;
  width: 73%;
}

.det-page-bookinginp label {
  font-weight: 600;
}

.det-page-btnbg {
  background: #eceff5;
  padding: 15px;
  border-radius: 2px;
}

.btn-trand-blue {
  border: 1px solid var(--clrblue);
  color: var(--clrblue);
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 4px;
  background: #fff;
}

.btn-blue-fill {
  background: #5480f0;
  color: #fff;
  border: 0;
  padding: 6px 10px;
  border-radius: 2px;
}
.btn-green-fill {
  background: #f3652f;
  color: #fff;
  border: 0;
  padding: 6px 10px;
  border-radius: 2px;
  min-height: 36px;
}
.det-page-btnbg label {
  font-weight: 600;
  line-height: 36px;
}
.nerby-btn {
  background: #f3f9ff;
  padding: 5px 15px;
  border: 1px solid #6b93f9;
  border-radius: 3px;
  font-weight: 600;
}

.btn-nearby-trans {
  float: right;
  border: 0;
  background: transparent;
  color: #6b93f9;
}

.btn-nearby-trans i {
  margin: 0 0 0 10px;
}
.det-nearby-box {
  background: #fcfcfc;
  border: 1px solid #cce4ff;
  padding: 10px 15px;
}



.bk-row input[type="text"] {
  width: 100%;
  height: 42px;
  border: 1px solid #d7dce6;
  border-radius: 4px;
  padding: 0 8px;
}

.bk-input-group {
  display: flex;
  border: 1px solid #d7dce6;
  border-radius: 4px;
}

.bk-input-group input[type="text"]:last-child {
  border: 0;
}

.bk-input-group input[type="text"] {
  border-width: 0 1px 0 0;
  border-radius: 0;
}
.bk-row {
  margin-bottom: 20px;
}
.brtop {
  border-top: 2px solid #d7dce6;
  padding-top: 30px;
}
.bk-row label {
  
  color: #3c3b3f;
  line-height: 42px;
}


// .bk-pay-box {
//   border: 1px solid #d6e7fa;
//   padding: 20px;
//   border-radius: 4px;
//   background: #fff;
// }
.bk-btn {
  background: #527ed8;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  min-width: 200px;
}
.bk-box {
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 6px;
  background: #ffffff;
}
.bk-price-bx li {
  padding: 10px;
}
.bk-price-fig {
  float: right;
}

.bk-total-amt {
  background: #edf3ff;
  border-top: 1px solid #c7d2e7;
  border-bottom: 1px solid #c7d2e7;
}

.bk-grant-amt {
  color: #fb6988;
}
.bk-order-content li {
  margin: 0 0 10px;
}








.modal-acs-hours-box {
  border: 1px solid #deecf1;
}
.modal-acs-hours-box li:not(:last-child) {
  border-bottom: solid 1px #e3e3e3;
}

.mdl-hour-block {
  background: #f9f9f9;
  padding: 10px;
}

.mbk-btn {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  background: var(--clrblue);
  color: #fff;
  padding: 8px 30px;
  border-radius: 4px;
}
.det-page-container .carousel-item img {
  height: 260px;
}
.det-page-box {
  padding: 15px 0 0;
  
}
.mat-typography .det-pop-container p {
  margin: 0;
}

.det-aminity-list ul {
  margin: 5px 0 0;
    max-width: 145px;
    overflow: hidden;
    white-space: nowrap;
}
.det-aminity-list li {
  display: inline-block;
    margin: 0 3px 0 0;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
}
.det-aminity-list li .mat-icon {
  font-size: 18px;}
.result-grid-img img {
  width: 100%;
  height: 140px;
  border-radius: 4px;
}

.result-grid {
  padding: 10px;
  box-shadow: 0px 3px 6.65px 0.35px rgba(90, 90, 90, 0.35);
  border-radius: 5px;
  background: #ffffff;
  margin: 5px 5px 15px;;
}
.serach-date-form-container input[type="text"] {
  width: 100% !important;
  height: 34px !important;
  background: url(../src/assets/images/ico-cal.png) no-repeat 10px center, url(../src/assets/images/ico-drop-arrow.png) no-repeat calc(100% - 15px);
  border: 1px solid #c7cfe1;
  border-radius: 4px;
  padding: 0 15px 0 45px;
  font-size: 14px !important;
}
.btn-green-search {
  background: #4cda64;
  color: #fff;
  border: 0;
  border-radius: 2px;
  height: 32px;
  padding: 0 17px;
}
.vmap-lbl {
  font-weight: 600;
    line-height: 60px;
    margin: 0 15px 0 0;
}
.det-pop-slider {
  float: left;
  width: 100%;
  margin: 0 0 5px;
}

.det-pop-form-holder {
  float: left;
  width: 100%;
  padding: 0 20px;
}
.det-pop-slider img {
  height: 200px;
    width: 100%;
}
.det-pop-form input[type="text"] {
  width: 100% !important;
  height: 44px !important;
  border: 1px solid #c7cfe1;
  border-radius: 4px;
  background: url(../src/assets/images/ico-edit.png);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px);
}
.det-pop-form li {
  margin: 0 0 15px;
}
.result-grid-hdr {
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}
.result-grid-img {
  background: #cbdbef;
  height: 140px;
  margin: 0 0 5px;
  position: relative;
}
.result-grid-addc {
  position: absolute;
  top: 5px;
  right: 5px;
}

.result-grid-cartbtn {
  background: #fff;
  border: 0;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  color: #5d85f3;
}
button.result-grid-cartbtn:hover {
  color: #3159c6;
}
.pop-tab-menu li {
  display: inline-flex;
}

.pop-tab-menu ul {
  text-align: center;
  background: #e7ecf1;
}

.pop-tab-menu a {
  padding: 10px 30px;
}
.home-hdr h1 {
  font-size: 36px;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(64 132 255 / 54%) !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #7292ee !important;
}
.det-amenity-list {
  column-count: 2;
}
.det-amenity-icon {display: inline-block;
}



.det-amenity-list li {
    margin: 0 0 10px;
}
.ng-wizard-theme-arrows>ul.step-anchor {
  display: none;
}
.ng-wizard-theme-arrows .step-content {
  background: #f3f5f8;
}
.bk-user-box, .bk-payment-box {
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.mat-tab-label{
  min-width: 120px !important;
}
.det-hr-table th {
  background: #f5bb38;
  color: #fff;
  padding: 5px 5px;
}

.det-hr-table td {
  padding: 5px;
  background: #f2f2f2;
  border-bottom: 1px solid #fff;
}
.nav-icon i {
  font-size: 20px;
  cursor: pointer;
}
.res-duration-grid {
  display: inline-block;
  margin: 5px auto 0;
  font-size: 14px;
  background: #dde4eb;
  padding: 2px 15px;
  border-radius: 5px;
}
.bk-order-img {
  background: #f2f2f2;
  margin: 0 0 10px;
}

.bk-order-img img {
  height: 150px;
  width: 100%;
}
.btn-fig {
  margin: 0 0 0 7px;
}
.mat-dialog-container {
  padding: 0 !important;
}

.det-btn-list li {
  display: inline-block;
  margin: 0 0 0 2px;
}
.det-date-wrap {
    display: inline-block;
    background: #ececec;
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}
.det-btn-price-container {
  text-align: right;
}
.logo-header {
  font-size: 32px;
  color: #fff;
  margin: 26px 0 0;
}
.head-container {
max-width: 980px;
margin: 0 auto;
}
.search-container {
  border-radius: 30px;
  background-color: #ffffff;
  padding: 40px 90px 54px 90px;
  width: 100%;
  margin: 80px 0 0;
}
.search-engine-heading {
font-size: 31px;
text-align: center;
color: #000;
letter-spacing: 0.3em;
font-weight: bold;
line-height: 1.2em;
margin: 0 0 40px;
}
.image-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.stroke .navbar-toggler {
  border: 0;
}
.navbar.stroke {
  padding: 0;
}
.icon-howp {
  float: left;
  width: calc(100% - 71px);
  text-align: justify;
}
.mobdown-header{
  font-size: 35px;
  margin-top: 85px;
  margin-bottom: 7px;
}
.refund-header{
  font-size: 37px;
  margin: 0 0 15px;
  color: #ffffff; 
  text-align: center; 
  text-transform: uppercase;
}
@media only screen and (max-width: 479px) 
{
  .refund-header {
    font-size: 26px;
}
.fter-text li {
  display: block !important;
  width: 100%;
  margin: 0 0 12px;
}
  .mobdown-header {
    margin-top: 5px;
}
  .how-works {
    padding-left: 0 !important;
}
.heading-1 {
  font-size: 24px !important;
  margin: 30px 0 15px;
}
  .search-engine-heading {
    font-size: 28px !important;
    letter-spacing: normal;
  }
  .search-container{
    padding: 10px !important;
}
.h1.position-absolute.svg-bottom-text {
  position: unset !important;
  bottom: 0;
}
.mdp-dv {
  float: left;
  width: 50%;
}
  .serach-date-form-container .btn-green-search {
    margin: 0 0 0 15px;
}
  .section.fter-section.d-flex {
    display: block !important;
  }
  .logo.fter-logo {
    
    margin: 0 0 15px;
  }
  .det-btn-list {
    text-align: center;
  }
  .det-btn-list li {
    margin: 5px;
  }
  .det-btn-price-container {
    text-align: center;
}
.stroke ul li {
  display: block !important;
}
.stroke ul {
  background: #1249a4;
}
.det-amenity-list{
  column-count: 1;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) 
{
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}	

@media only screen and (min-width: 1025px) and (max-width: 1199px) {

}
@media only screen and (min-width: 992px) {
.mobile-show 
{
    display: none;    
}
}
@media only screen and (max-width: 992px) {
.mobile-hide 
{
    display: none;    
}
.image-wrapper{
  display: none;
}
}	
.font-poponis{
  font-family: 'Poppins', sans-serif !important;
}
.font-quick {
  font-family: 'Quicksand', sans-serif !important;
}
.cdk-overlay-pane {max-height: calc(100vh - 75px);
  max-height: calc(100vh - 75px);
}
.det-btn-list button {
  min-width: 115px;
  vertical-align: top;
}
.nav-link {
  cursor: pointer;
}
.search-container {
  margin-bottom: 105px;;
}